<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <img width="960" src="@Href("~/Content/Homeless%20Hackers%20Backround.jpg")"/>
            </hgroup>
        </div>
    </section>

    <section class="content-wrapper main-content clear-fix">
        <h2>@Html.ActionLink("View All Organizations", "Index", "Organizations")</h2>
        <h2>@Html.ActionLink("View All Volunteers", "Index", "Volunteers")</h2>
        <h2>@Html.ActionLink("View All Donations", "Index", "Donations")</h2>
    </section>
</div>
