<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">Homeless Hackers</a></p>
        </div>
    </div>
</header>
<div id="body">

    <section class="content-wrapper main-content clear-fix">
        <h2>@Html.ActionLink("View Organizations", "Index", "Organizations")</h2>


    </section>
</div>
